<?xml version="1.0" encoding="UTF-8"?>
<Settings>
	<!-- Bot Token must be a string, get it from Discord developer menu -->
	<BotToken></BotToken>
	
	<!-- Guild ID == Server ID, must be ulong-->
	<GuildID></GuildID>
	
	<!-- TextChannelID must be ulong -->
	<TextChannelID></TextChannelID>
</Settings>
